/* Add a black background color to the top navigation */
.topnav {
    border-bottom: 1px solid var(--border-color);
    overflow: hidden;
}

/* Style the links inside the navigation bar */
.topnav span {
    float: left;
    color: var(--text-color);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

/* Right-aligned section inside the top navigation */
.topnav-right {
    float: right;
}

.dropdown {
    float: left;
    overflow: hidden;
}

/* Dropdown button */
.dropdown .dropbtn {
    font-size: 16px;
    border: none;
    outline: none;
    color: var(--text-color);
    padding: 14px 16px;
    background-color: inherit;
    min-width: 135.03px;
    font-family: inherit;
    margin: 0;
}

/* Add a red background color to navbar links on hover */
.dropdown:hover .dropbtn {
    background-color: var(--box3-color);
}

/* Dropdown content (hidden by default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: var(--box3-color);
    min-width: 135.03px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
    float: none;
    color: var(--text-color);
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

/* Add a grey background color to dropdown links on hover */
.dropdown-content a:hover {
    background-color: gray;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
    display: block;
}

.taddbtn {
    display: inline-block;
    right: 0;
    vertical-align: middle;
    font-size: 16px;
    border: none;
    outline: none;
    color: var(--text-color);
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
}

.table-container {
    height: 79vh;
    border-bottom: 1px solid var(--border-color);
    overflow: hidden;
}

.task-table {
    border-bottom: 1px solid var(--border-color);
    overflow: hidden;
    width: 100%;
    color: var(--text-color);
    table-layout: fixed;
}

.task-table th {
    border-bottom: 2px solid var(--border-color);
    overflow: hidden;
    text-align: left;
    width: 17%;
    padding-top: 12px;
    padding-bottom: 12px;
}

.task-table td {
    border-bottom: 1px solid var(--border-color);
    overflow: hidden;
    padding-top: 10px;
    padding-bottom: 10px;
    width: 17%;
}

.action {
    text-align: center;
}

.task-table .acbtn {
    max-width: 30px;
    overflow: hidden;
}

.task-table .abtn {
    text-align: center;
    text-decoration: none;
    padding: 10px 20px;
    border: 1px solid;
    border-radius: 10px;
    background-color: var(--box3-color);
    color: var(--text-color);
}

.hidden {
    display: none;
}

.pagination-container {
    width: calc(100% - 2rem);
    display: flex;
    align-items: center;
    bottom: 0;
    padding: 1rem 0;
    justify-content: center;
}

.pagination-number,
.pagination-button {
    font-size: 1.1rem;
    background-color: transparent;
    border: none;
    margin: 0.25rem 0.25rem;
    cursor: pointer;
    height: 2.5rem;
    width: 2.5rem;
    border-radius: .2rem;
    color: var(--text-color);
}

.pagination-number:hover,
.pagination-button:not(.disabled):hover {
    background: var(--border-color);
}

.pagination-number.active {
    color: var(--page-number-color);
    background: var(--black-light-color);
}
