@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600&display=swap');

@import url('https://unicons.iconscout.com/release/v4.0.0/css/line.css'); 

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

:root {
  /* ===== Colors ===== */
  --primary-color: #0E4BF1;
  --panel-color: #FFF;
  --text-color: #000;
  --black-light-color: #707070;
  --border-color: #e6e5e5;
  --toggle-color: #DDD;
  --box1-color: #4DA3FF;
  --box2-color: #FFE6AC;
  --box3-color: #E7D1FC;
  --title-icon-color: #fff;
  --page-number-color: #fff;
  /* ====== Transition ====== */
  --tran-05: all 0.5s ease;
  --tran-03: all 0.3s ease;
  --tran-03: all 0.2s ease;
}

body {
  min-height: 100vh;
  background-color: gray;
}

body.dark {
  --primary-color: #3A3B3C;
  --panel-color: #242526;
  --text-color: #CCC;
  --black-light-color: #CCC;
  --border-color: #4D4C4C;
  --toggle-color: #FFF;
  --box1-color: #3A3B3C;
  --box2-color: #3A3B3C;
  --box3-color: #3A3B3C;
  --title-icon-color: #CCC;
  --page-number-color: #000;
}

/* === Custom Scroll Bar CSS === */
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: var(--primary-color);
  border-radius: 12px;
  transition: all 0.3s ease;
}

::-webkit-scrollbar-thumb:hover {
  background: #0b3cc1;
}

body.dark::-webkit-scrollbar-thumb:hover,
body.dark .activity-data::-webkit-scrollbar-thumb:hover {
  background: #3A3B3C;
}

#sidenav {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 250px;
  padding: 10px 14px;
  background-color: var(--panel-color);
  border-right: 1px solid var(--border-color);
  transition: var(--tran-05);
}

#sidenav .close {
  width: 73px;
}

#sidenav .logo-name {
  display: flex;
  align-items: center;
}

#sidenav .logo-image {
  display: flex;
  justify-content: center;
  min-width: 45px;
}

#sidenav .logo-image img {
  width: 100%;
  object-fit: cover;
  border-radius: 50%;
}

#sidenav .logo-name .logo_name {
  font-size: 22px;
  font-weight: 600;
  color: var(--text-color);
  margin-left: 14px;
  transition: var(--tran-05);
}

#sidenav .close .logo_name {
  opacity: 0;
  pointer-events: none;
}

#sidenav .menu-items {
  margin-top: 40px;
  height: calc(100% - 90px);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.menu-items li {
  list-style: none;
}

.menu-items li a {
  display: flex;
  align-items: center;
  height: 50px;
  text-decoration: none;
  position: relative;
}

.nav-links li a:hover:before {
  content: "";
  position: absolute;
  left: -7px;
  height: 5px;
  width: 5px;
  border-radius: 50%;
  background-color: var(--primary-color);
}

body.dark li a:hover:before {
  background-color: var(--text-color);
}

.menu-items li a i {
  font-size: 24px;
  min-width: 45px;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--black-light-color);
}

.menu-items li a .link-name {
  font-size: 18px;
  font-weight: 400;
  color: var(--black-light-color);
  transition: var(--tran-05);
}

#sidenav .close li a .link-name {
  opacity: 0;
  pointer-events: none;
}

.nav-links li a:hover i,
.nav-links li a:hover .link-name {
  color: var(--primary-color);
}

body.dark .nav-links li a:hover i,
body.dark .nav-links li a:hover .link-name {
  color: var(--text-color);
}

.menu-items .logout-mode {
  padding-top: 10px;
  border-top: 1px solid var(--border-color);
}

.menu-items .mode {
  display: flex;
  align-items: center;
  white-space: nowrap;
}

.menu-items .mode-toggle {
  position: absolute;
  right: 14px;
  height: 50px;
  min-width: 45px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.mode-toggle .switch {
  position: relative;
  display: inline-block;
  height: 22px;
  width: 40px;
  border-radius: 25px;
  background-color: var(--toggle-color);
}

.switch:before {
  content: "";
  position: absolute;
  left: 5px;
  top: 50%;
  transform: translateY(-50%);
  height: 15px;
  width: 15px;
  background-color: var(--panel-color);
  border-radius: 50%;
  transition: var(--tran-03);
}

body.dark .switch:before {
  left: 20px;
}

.dashboard {
  position: relative;
  left: 250px;
  background-color: var(--panel-color);
  min-height: 100vh;
  width: calc(100% - 250px);
  padding: 10px 14px;
  transition: var(--tran-05);
}

#sidenav .close ~ .dashboard {
  left: 73px;
  width: calc(100% - 73px);
}

.dashboard .top {
  position: fixed;
  top: 0;
  left: 250px;
  display: flex;
  width: calc(100% - 250px);
  justify-content: space-between;
  align-items: center;
  padding: 10px 14px;
  background-color: var(--panel-color);
  transition: var(--tran-05);
  z-index: 10;
}

#sidenav.close ~ .dashboard .top {
  left: 73px;
  width: calc(100% - 73px);
}

.dashboard .top .sidebar-toggle {
  font-size: 26px;
  color: var(--text-color);
  cursor: pointer;
}

.dashboard .top .search-box {
  position: relative;
  height: 45px;
  max-width: 600px;
  width: 100%;
  margin: 0 30px;
}

.top .search-box input {
  position: absolute;
  border: 1px solid var(--border-color);
  background-color: var(--panel-color);
  padding: 0 25px 0 50px;
  border-radius: 5px;
  height: 100%;
  width: 100%;
  color: var(--text-color);
  font-size: 15px;
  font-weight: 400;
  outline: none;
}

.top .search-box i {
  position: absolute;
  left: 1px;
  font-size: 22px;
  z-index: 10;
  top: 50%;
  transform: translateY(-50%);
  color: var(--black-light-color);
}

.top img {
  width: 40px;
  border-radius: 50%;
}

.dashboard .dash-content {
  padding-top: 50px;
}

.dash-content .title {
  display: flex;
  align-items: center;
  margin: 60px 0 30px 0;
}

.dash-content .title i {
  position: relative;
  height: 35px;
  width: 35px;
  background-color: var(--primary-color);
  border-radius: 6px;
  color: var(--title-icon-color);
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 24px;
}

.dash-content .title .text {
  font-size: 24px;
  font-weight: 500;
  color: var(--text-color);
  margin-left: 10px;
}

.dash-content .boxes {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

.dash-content .boxes .box {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 12px;
  width: calc(100% / 3 - 15px);
  padding: 15px 20px;
  background-color: var(--box1-color);
  transition: var(--tran-05);
}

.boxes .box i {
  font-size: 35px;
  color: var(--text-color);
}

.boxes .box .text {
  white-space: nowrap;
  font-size: 18px;
  font-weight: 500;
  color: var(--text-color);
}

.boxes .box .number {
  font-size: 40px;
  font-weight: 500;
  color: var(--text-color);
}

.boxes .box.box2 {
  background-color: var(--box2-color);
}

.boxes .box.box3 {
  background-color: var(--box3-color);
}

.dash-content .activity .activity-data {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.activity .activity-data {
  display: flex;
}

.activity-data .data {
  display: flex;
  flex-direction: column;
  margin: 0 15px;
}

.activity-data .data-title {
  font-size: 20px;
  font-weight: 500;
  color: var(--text-color);
}

.activity-data .data .data-list {
  font-size: 18px;
  font-weight: 400;
  margin-top: 20px;
  white-space: nowrap;
  color: var(--text-color);
}

@media (max-width: 1000px) {
  #sidenav {
      width: 73px;
  }

  #sidenav.close {
      width: 250px;
  }

  #sidenav .logo_name {
      opacity: 0;
      pointer-events: none;
  }

  #sidenav .close .logo_name {
      opacity: 1;
      pointer-events: auto;
  }

  #sidenav li a .link-name {
      opacity: 0;
      pointer-events: none;
  }

  #sidenav .close li a .link-name {
      opacity: 1;
      pointer-events: auto;
  }

  #sidenav ~ .dashboard {
      left: 73px;
      width: calc(100% - 73px);
  }

  #sidenav .close ~ .dashboard {
      left: 250px;
      width: calc(100% - 250px);
  }

  #sidenav ~ .dashboard .top {
      left: 73px;
      width: calc(100% - 73px);
  }

  #sidenav .close ~ .dashboard .top {
      left: 250px;
      width: calc(100% - 250px);
  }

  .activity .activity-data {
      overflow-X: scroll;
  }
}

@media (max-width: 780px) {
  .dash-content .boxes .box {
      width: calc(100% / 2 - 15px);
      margin-top: 15px;
  }
}

@media (max-width: 560px) {
  .dash-content .boxes .box {
      width: 100%;
  }
}

@media (max-width: 500px) {
  .dashboard .top .sidebar-toggle {
      display: none;
  }
}

.images {
  max-width: 30px;
  height: auto;
}

/* login */

* {
  margin: 0px;
  font-family: Helvetica, "Helvetica Neue", Roboto, Noto, Arial, sans-serif;
}

#lobody {
  width: 1519px;
  height: 898px;
  position: relative;
  background-color: white;
  background-repeat: no-repeat;
  background-size: cover;
}

#labody {
  width: 1519px;
  height: 898px;
  position: relative;
  background-repeat: no-repeat;
  background-size: cover;
}

#RootWrapperLogin {
  min-height: 100vh;
  position: relative;
}

#Case {
  width: 400px;
  height: 344px;
  background-color: white;
  border-radius: 3px;
  position: absolute;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  left: calc((calc((50% + 1px)) - 200px));
  top: 277px;
}

#LogInToOperis {
  color: rgb(94, 108, 132);
  text-overflow: ellipsis;
  font-size: 16px;
  font-family: Roboto, sans-serif;
  font-weight: 700;
  line-height: 28px;
  text-align: center;
  width: 173px;
  min-height: 19px;
  position: absolute;
  left: 119px;
  top: 41px;
  height: 19px;
}

#Form {
  width: 326px;
  height: 158px;
  border-radius: 3px;
  position: absolute;
  left: calc((calc((50% + 0px)) - 163px));
  top: 87px;
}

#Email {
  width: 326px;
  height: 44px;
  background-color: rgb(250, 251, 252);
  position: relative;
  left: 0px;
  top: 0px;
}

#EnterEmail {
  color: rgb(151, 160, 175);
  text-overflow: ellipsis;
  font-size: 16px;
  font-family: Inter, sans-serif;
  font-weight: 400;
  text-align: left;
  min-height: 21px;
  left: 10px;
  top: 11px;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  border: solid 2px rgb(223, 225, 230);
  border-radius: 5px;
  padding-left: 10px;
}

#Password {
  margin-top: 30px;
  width: 326px;
  height: 44px;
  background-color: rgb(250, 251, 252);
  position: relative;
  left: 0px;
  top: 15px;
}

#EnterPassword {
  color: rgb(151, 160, 175);
  text-overflow: ellipsis;
  font-size: 16px;
  font-family: Inter, sans-serif;
  font-weight: 400;
  text-align: left;
  min-height: 21px;
  left: 10px;
  top: 11px;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  border: solid 2px rgb(223, 225, 230);
  border-radius: 5px;
  padding-left: 10px;
}

#Svg {
  position: absolute;
  top: 30%;
  right: 4%;
  cursor: pointer;
  color: lightgray;
}

#InputLogin {
  display: flex;
  justify-content: flex-start;
  flex-direction: row;
  align-items: flex-start;
  border-radius: 4px;
  background: linear-gradient(-135deg, rgb(82, 67, 170), rgb(237, 80, 180));
  box-sizing: border-box;
  padding-bottom: 8px;
  padding-top: 8px;
  padding-left: 132px;
  padding-right: 131px;
  position: absolute;
  left: 0px;
  top: 180px;
  width: 326px;
  height: 33px;
  color: white;
  text-overflow: ellipsis;
  font-size: 14px;
  font-family: Roboto, sans-serif;
  font-weight: 700;
  text-align: center;
}

#Line1 {
  width: 318px;
  height: 0px;
  border-top: solid 1px rgb(204, 204, 204);
  position: absolute;
  left: 41px;
  top: 266px;
}

#NewUser {
  color: rgb(108, 116, 130);
  text-overflow: ellipsis;
  font-size: 14px;
  font-family: Roboto, sans-serif;
  font-weight: 300;
  line-height: 29px;
  text-align: center;
  width: 144px;
  position: absolute;
  left: 50px;
  top: 288px;
  text-decoration: none;
}

#SignUpForAnAccount {
  color: rgb(0, 82, 204);
  text-overflow: ellipsis;
  font-size: 14px;
  font-family: Roboto, sans-serif;
  font-weight: 300;
  line-height: 29px;
  text-align: center;
  width: 185px;
  position: absolute;
  left: 180px;
  top: 288px;
  text-decoration: none;
}

#Copyright2024Operis {
  color: rgb(80, 95, 121);
  text-overflow: ellipsis;
  font-size: 13px;
  font-family: Inter, sans-serif;
  font-weight: 400;
  line-height: 18px;
  text-align: left;
  min-height: 16px;
  position: absolute;
  left: 685px;
  top: 845px;
  right: 662px;
  height: 16px;
}

#Header {
  height: 60px;
  background-color: white;
  position: sticky;
  box-shadow: 0px 8px 16px rgba(9, 30, 66, 0.15);
  left: 0px;
  top: 0px;
  right: 0px;
}

#Div {
  width: 101px;
  height: 60px;
  position: absolute;
  top: 0px;
  right: 103px;
}

#LogIn {
  color: rgb(23, 43, 77);
  text-overflow: ellipsis;
  font-size: 18px;
  font-family: Inter, sans-serif;
  font-weight: 400;
  line-height: 29px;
  text-align: left;
  position: absolute;
  left: 24px;
  top: 15px;
}

#Logo {
  width: 111px;
  height: 38px;
  object-fit: cover;
  position: absolute;
  left: 129px;
  top: 11px;
}

#ManageAllYourProjectTasksAndFilesInOnePlace {
  color: white;
  text-overflow: ellipsis;
  font-size: 40px;
  font-family: Inter, sans-serif;
  font-weight: 400;
  line-height: 60px;
  text-align: left;
  width: 471px;
  min-height: 183px;
  position: absolute;
  left: 537px;
  top: 257px;
  height: 183px;
}

#WorkOnYourProjectFromAnywhere {
  color: white;
  text-overflow: ellipsis;
  font-size: 20px;
  font-family: Inter, sans-serif;
  font-weight: 400;
  line-height: 30px;
  text-align: left;
  width: 500px;
  min-height: 57px;
  position: absolute;
  left: 537px;
  top: 448px;
  height: 57px;
}

#WForm {
  width: 538px;
  height: 50px;
  position: absolute;
  left: 537px;
  top: 607px;
}

#EmailInput {
  width: 342px;
  height: 50px;
  background-color: white;
  border: solid 1px rgb(223, 225, 230);
  border-radius: 5px;
  position: relative;
  left: -42px;
  top: 0px;
}

#MCopyright2024Operis {
  color: rgb(233, 233, 233);
  text-overflow: ellipsis;
  font-size: 13px;
  font-family: Inter, sans-serif;
  font-weight: 400;
  line-height: 18px;
  text-align: left;
  width: 159px;
  min-height: 16px;
  position: absolute;
  left: 681px;
  top: 852px;
  height: 16px;
}