/* Add a black background color to the top navigation */
.topnav {
    border-bottom: 3px solid var(--border-color);
    overflow: hidden;
}

/* Style the links inside the navigation bar */
.topnav span {
    float: left;
    color: var(--text-color);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

/* Right-aligned section inside the top navigation */
.topnav-right {
    float: right;
    padding: 10px;
}

/* Dropdown button */
.addbtn {
    vertical-align: middle;
    font-size: 16px;
    border: none;
    outline: none;
    color: var(--text-color);
    padding: 14px 16px;
    background-color: inherit;
    min-width: 135.03px;
    font-family: inherit;
    margin: 0;
}

.list-group {
    border-bottom: 1px solid var(--border-color);
    overflow: hidden;
    height: 79vh;
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.list-group li {
    border-bottom: 1px solid var(--border-color);
    overflow: hidden;
    padding: 10px;
    min-height: 45px;
}

.list-group a {
    text-decoration: none;
    color: var(--text-color);
}

.list-group li:hover {
    background-color: var(--box3-color);
}

.hidden {
    display: none;
}

.pagination-container {
    width: calc(100% - 2rem);
    display: flex;
    align-items: center;
    bottom: 0;
    padding: 1rem 0;
    justify-content: center;
}

.pagination-number,
.pagination-button {
    font-size: 1.1rem;
    background-color: transparent;
    border: none;
    margin: 0.25rem 0.25rem;
    cursor: pointer;
    height: 2.5rem;
    width: 2.5rem;
    border-radius: .2rem;
    color: var(--text-color);
}

.pagination-number:hover,
.pagination-button:not(.disabled):hover {
    background: var(--border-color);
}

.pagination-number.active {
    color: var(--page-number-color);
    background: var(--black-light-color);
}
